@model Traffic_CA.Models.Docklot

@{
    ViewData["Title"] = "LotMove";
}
<br />
<h1 class="mt-5">Move To Lot</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LotMove">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CarrierName" class="control-label"></label>
                <input asp-for="CarrierName" class="form-control" readonly />
                <span asp-validation-for="CarrierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerNumber" class="control-label"></label>
                <input asp-for="TrailerNumber" class="form-control" readonly />
                <span asp-validation-for="TrailerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dimension" class="control-label"></label>
                <input asp-for="Dimension" class="form-control" readonly />
                <span asp-validation-for="Dimension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrailerComments" class="control-label"></label>
                <textarea asp-for="TrailerComments" class="form-control"></textarea>
                <span asp-validation-for="TrailerComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadNbr" class="control-label"></label>
                <input asp-for="LoadNbr" class="form-control" readonly />
                <span asp-validation-for="LoadNbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocklotDate" class="control-label"></label>
                <input asp-for="DocklotDate" class="form-control" readonly />
                <span asp-validation-for="DocklotDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Current Location <span class="text-danger">@Model.Location</span></p>
                <label asp-for="Location" class="control-label">Move to Lot</label>
                @Html.DropDownListFor(m => m.Location, ViewBag.Lot as SelectList, "Select Lot", new {@class = "form-control"})
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>Current Status: <span class="text-danger">@Model.Status</span></p>
                <label asp-for="Status" class="control-label">Change Status</label>
                @if (Model.Status != "Load In Process")
                {
                    <select asp-for="Status" class="form-control" required>
                        <option value="">Select Status</option>
                        <option value="Empty">Empty</option>
                        <option value="Full/InComp">Full/InComp</option>
                        <option value="Full/InFinished">Full/InFinished</option>
                        <option value="Full/InMixed">Full/InMixed</option>
                        <option value="Full/OutComp">Full/OutComp</option>
                        <option value="Full/OutFinished">Full/OutFinished</option>
                        <option value="Full/OutMixed">Full/OutMixed</option>
                        <option value="Reserved">Reserved</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Shuttle">Shuttle</option>
                    </select>
                }
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MBOLNbr" class="control-label"></label>
                <input asp-for="MBOLNbr" class="form-control" readonly />
                <span asp-validation-for="MBOLNbr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Move Trailer" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
