@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center mt-5">
    <h1 class="display-3">Welcome to Hesperia Traffic</h1>
</div>

<div class="container-fluid text-center mt-5">
    <div class="row">
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="Shipping Schedule">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Loads" asp-action="Index">Shipping Schedule</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="right" title="Schedule New">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Loads" asp-action="Create">Shipping Schedule New</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="right" title="Dock / Lot">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Docklots" asp-action="Index">Docklot</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="Add Trailer to Dock">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Docklots" asp-action="CreateDock">Add Trailer to Dock</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="Add Trailer to Lot">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="DockLots" asp-action="CreateLot">Add Trailer to Lot</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="LTL Schedule">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Loads" asp-action="IndexLTL">LTL Schedule</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="Carriers">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Carriers" asp-action="Index">Manage Carriers</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="States">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="States" asp-action="Index">Manage States</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="Cities">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Cities" asp-action="Index">Manage Cities</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="Associates">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Associates" asp-action="Index">Manage Associates</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="Coordinators">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Coordinators" asp-action="Index">Manage Coordinators</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow" style="width: 18rem; height: 8rem;" data-toggle="tooltip" data-placement="top" title="Customres">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" onclick="return DisplayProgressMessage(this, 'Loading...');" asp-area="" asp-controller="Customers" asp-action="Index">Manage Customers</a></h3>
                </div>
            </div>
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
<script type="text/javascript">
    function DisplayProgressMessage(ctl, msg) {
        $(ctl).prop("disable", true).text(msg);
        $("body").addClass("submit-progress-bg");
        $(".submit.progress").removeClass("hidden");
        setTimeout(function () {
            $(ctl).click();
        }, 1);
        return true;
    }
</script>
