@media print {

    body {
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 0;
        padding: 0;
        width: 191mm !important;
    }
}

@page {
    size: 8.5in 11in landscape;
    margin: 15mm 25mm !important;
    text-align: center !important
}
